<div class="login">
    <app-bar></app-bar> <!-- Assuming you have a bar component -->
    <div class="container">
      <div class="background"></div>
      <div class="form-container">
        <div class="form-box">
          <h1 class="title">Connectez</h1>
          <form (submit)="handleLogin($event)">   <!-- submit (pour envoyer les données d'un formulaire a un serveur) relier a levenement handlelogin -->
            <div class="form-group">
              <label for="username">Nom</label>
              <input
                type="text"
                id="username"
                name="username"
                [(ngModel)]="username"
                autocomplete="username"
                required
                autofocus
              />
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input
                type="password"
                id="password"
                name="password"
                [(ngModel)]="password"
                autocomplete="password"
                required
              />
            </div>
            <div class="error" *ngIf="error">{{ error }}</div>
            <button type="submit" class="btn btn-primary">Connectez-Vous</button>
            <button (click)="navigateToSignup()" type="button" class="btn btn-secondary">Créer un compte</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  