.home {
    position: relative;
    height: 100vh;
  }
  
  .background {
    background-image: url('/assets/etudiant.png'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .overlay {
    position: relative;
    z-index: 1;
  }
  